.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 3rem 0 3rem;
  gap: 2rem;
  max-width: 100rem;
  margin: auto;
  box-sizing: border-box;
}

.tableNotBreak {
  overflow-x: auto;
  min-width: 68rem;
  min-height: 10rem;
  height: 100%;
}
