.table__footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-grey);
  padding: 0.5rem 1rem 0.5rem 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.table__footer-group {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.table__footer-number-page {
  display: flex;
  gap: 0.25rem;
}

.table__footer-select-row {
  color: var(--color-blue);
}

.table-actions_choice_delete {
  position: absolute;
  display: none;
  left: 0;
  bottom: 1.75rem;
}

.table-actions_number_page {
  position: absolute;
  display: none;
  right: 0;
  bottom: 1.75rem;
}

.table-actions_choice_theme {
  position: absolute;
  display: none;
  right: 0;
  top: 2.25rem;
}
