._ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0;
}

.label {
  height: 1rem;
}

.area {
  position: relative;
  width: 100%;
  height: 2rem;
}

.inputField {
  appearance: none;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.25rem 1.55rem 0.25rem 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.insideArea {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: 0;
}

.clearButton {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
}

/*Стили Input*/
.stylePrimary .inputField {
  border-color: var(--color-blue);
  background-color: var(--color-white);
}

.styleIncorrect .inputField {
  border-color: var(--color-red);
  background-color: var(--color-white);
}

.styleDisabled .inputField {
  border-color: var(--color-blue);
  background: var(--color-day-light-blue);
  cursor: not-allowed;
}

/*Настройка Input(_)*/

.inputField:focus {
  outline: 0;
}

.inputField::placeholder {
  color: var(--color-day-light-blue);
}

/*Настройка inside-area*/

.insideAreaPrefix {
  left: 0.5rem;
  bottom: 0.5rem;
}

.insideAreaPostfix {
  right: 0.25rem;
  bottom: 0.25rem;
}

.insideAreaPrefix ~ .inputField {
  padding-left: 1.75rem;
}

/*Настройка icon target*/

.iconTargetButton {
  height: 1rem;
  bottom: 0.5rem;
  stroke: var(--color-day-light-blue);
  fill: var(--color-day-light-blue);
  cursor: pointer;
}

.iconTargetDisabled {
  height: 1rem;
  bottom: 0.5rem;
  fill: var(--color-black);
  stroke: var(--color-black);
  cursor: not-allowed;
}

.iconTargetClear {
  height: 1rem;
  stroke: var(--color-day-light-blue);
  fill: var(--color-day-light-blue);
}
